@font-face {
    font-family:"Lato Bold";
    src:url(Lato/Lato-Bold.ttf);
}
@font-face {
    font-family:"Sour Gummy";
    src: url("Sour Gummy/SourGummy-VariableFont_wdth\,wght.ttf");
}
body{
    background-image:url("coolbg.jpg");
    background-attachment:fixed;
}
h5{
    font-family:"Lato Bold";
    background-color:rgb(0, 0, 78);
    color:white;
    border-radius:20px;
    margin:0 auto;
    max-width: fit-content;
    padding:10px;
}
.startAni{
    z-index:2;
    background-color:rgb(218, 246, 223);
    font-size:60%;
    text-align:center;
    background-size:cover;
    min-height:100%;
    justify-content:center;
    position:fixed;
    padding:40px;
    animation:disappear 4s forwards;
    font-family:"Sour Gummy";
}
.startTxt{
    position:relative;
    left:calc(-100% - 50px);
    animation:textAnimation 6s forwards;
    margin:30px;
}
@keyframes disappear {
    0%{opacity:100}
    20%{opacity:100}
    100%{opacity:0;}
}
@keyframes textAnimation {
    0%{left:calc(-100% - 50px);}
    5%{left:0%;}
    100%{left:0%;}
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: rgba(0, 0, 255, 0.5);
    border-radius:40px;
    padding:2px;
}
.m2 img {
    align-items:center;
    max-width: 100%;
    height:400px;
    aspect-ratio: 4/5;
}
.imageContainer {
    position: relative;
    width: 50%;
    margin: 0 auto;
    text-align: center; 
}

.image {
    width: 100%;
    height: auto;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right:0;
    width: 100%;
    height: 0;
    background-color: rgba(127, 255, 212, 1);
    transition: all 0.5s ease;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgLink {
    text-decoration: none;
    font-size: 90%;
    color: rgb(22, 92, 69);
    font-weight: bold;
    transition:all 0.3s ease;
}
.imgLink:hover{
    color:rgb(0, 23, 141);
}

.imageContainer:hover .overlay {
    height: 100%;
}

.welcome{
    font-family:"Sour Gummy";
    background-color:rgb(161, 161, 201);
    border-radius:10px;
}
.navbarStyle{
    background-image:linear-gradient(rgb(161, 161, 255),rgb(255, 253, 207));
    background-repeat:no-repeat;
    background-size:cover;
    margin-bottom:30px;
}
.titleStyle{
    font-family:"Sour Gummy";
    font-size:30px;
    color:rgb(41, 41, 87);
    animation:cutetitle 20s infinite;
    margin:0;
}
.navLinkStyle{
    font-family:"Sour Gummy";
    font-size:25px;
    color:rgb(41, 41, 87);
    transition:all 0.5s ease;
    text-decoration:none;
}
.navLinkStyle:hover{
    color:rgb(107, 107, 117);
}
.col-12{
    margin-top:20px;
}
.wheels{
    transform:rotate(0deg);
    animation:rotations 1s infinite;
}
@keyframes rotations {
    from{transform:rotate(0deg);}
    to{transform:rotate(360deg);}
}

@keyframes cutetitle {
    0% {transform:rotate(0deg);}
    1% {transform:rotate(-2deg);}
    2% {transform:rotate(0deg);}
    5% {transform:rotate(-7deg); color:rgb(39, 142, 133);}
    40%{transform:rotate(-7deg); color:rgb(39, 142, 133);}
    45%{transform: rotate(0deg); color:rgb(39, 142, 133);}
    50%{transform:rotate(0deg); color:rgb(39, 142, 133);}
    51%{transform:rotate(2deg); color:rgb(39, 142, 133);}
    52%{transform:rotate(0deg); color:rgb(39, 142, 133);}
    55%{transform:rotate(7deg); color:rgb(41, 41, 87);}
    95%{transform:rotate(7deg);}
    100%{transform:rotate(0deg);}
}
@media only screen and (min-width: 320px) and (max-width: 550px) {
    .navLinkStyle{
        font-size:10px;
    }
    .titleStyle{
        font-size:15px;
    }
}
@media only screen and (max-width: 319px) {
    .navLinkStyle{
        font-size:5px;
    }
    .titleStyle{
        font-size:10px;
    }
    h5{
        font-size:10px;
    }
}
